
.line {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;

}
.row-label {
  display: inline-block;
  width: 10%;
  vertical-align: top;
}
.row-value {
  display: inline-block;
  width: 50%;

}

.sync-row {
  text-align: right;
}
.files-container {
  height: 43%;
  overflow-y: auto;
}
.footer-row {
  border-bottom: 0;
}

.status-deleted {
  color: red;
}
.status-added {
  color: #61b830;
}
.status-modified {
  color: #d4d42b;
}
.files-container > div {
  width: 100%;
}
.files-container > div > span {
  display: inline-block;
}
.files-container .file-name {
  width: 70%;
}
.files-container .file-status {
  width: 20%;
}
